<head>  <script src="amazon-cognito-identity.min.js"></script></head>
<body>
	<script>

	//usa a senha temporária
    var authenticationData = {
            Username : 'devops_test',
            Password : 'Testando123!@#',
        };
    var authenticationDetails = new AmazonCognitoIdentity.AuthenticationDetails(authenticationData);

    var poolData = { UserPoolId : 'us-east-1_wztI2sovU',
            ClientId : '6bn1rtsj69qbk2dkafimoq1oj6'
        };
    var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);

    var userData = {
            Username : 'devops_test',
            Pool : userPool
        };
    var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);

	cognitoUser.authenticateUser(authenticationDetails, {
	    onSuccess: function (result) {
	          console.log('authorization : ' + result.idToken.jwtToken);
    	},

		onFailure: function(err) {
        	console.log(err);
    	},

    	newPasswordRequired: function(userAttributes, requiredAttributes) {
    			//seta atributos obrigatórios
        		var attributes = { nickname: "User de Teste"};
        		cognitoUser.completeNewPasswordChallenge(newPassword, attributes, this)
    	}
	});
	</script>

</body>


